* {
  box-sizing: border-box;
}

:root {
}

html {
  min-height: 100dvh;
}

body {
  text-align: center;
  margin: auto;
}

#result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.result-card {
  font-family: Arial, sans-serif;
  width: 60%;
  margin: 0 auto;
  padding: 24px;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.result-station {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.result-time-display {
  font-size: 18px;
  color: #666;
  margin-bottom: 5px;
}

.result-time {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 5px;
}

.result-transport-mode {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}
