<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="icon" type="image/png" href="assets/icons/caution.png" />
    <title>Deviations</title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <h1>Trafikläget just nu</h1>
      <div id="result">
      </div>
    </main>
    <script>
      $(() => {
        const API_DEVIATIONS =
          "https://deviations.integration.sl.se/v1/messages?future=false&transport_mode=METRO";

        const getDeviationsData = async () => {
          try {
            let response = await fetch(API_DEVIATIONS);
            let data = await response.json();

            console.log("deviations", data);

            $("#result").append(
              `<p class="total-disturbances">Disturbances: ${data.length}</p>`
            );

            data.forEach((item) => {
              $("#result").append(`
              <div class="result-card-deviation">
               <div class="result-transport_container">
                 <img class="result-transport-mode" src="/assets/metro.png" alt="metro" />
                <p>${item.scope.lines[0].group_of_lines} ${
                item.scope.lines[0].designation
              }</p>
              </div>
              <hr>
              <h3>${item.message_variants[0].header}</h3>
               <p class="result-time-deviations">Duration from: ${item.publish.from.slice(
                 11,
                 16
               )} to ${item.publish.upto.slice(11, 16)}</p>
              <p>${item.message_variants[0].details}</p>
              <div>
              `);
            });
          } catch (error) {
            console.log("error messages", error);
          }
        };
        getDeviationsData();
      });
    </script>
  </body>
</html>
