* {
  box-sizing: border-box;
}

html {
  min-height: 100dvh;
}

body {
  max-width: 80%;
  font-family: "Lato", serif;
  text-align: center;
  margin: auto;
}

/* navbar */
.nav {
  display: flex;
  gap: 20px;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.nav a:hover {
  background: #e0e0e0;
}

#randomButton {
  background: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#randomButton:hover {
  background: #0056b3;
  transform: scale(1.02);
}

#randomButton:active {
  background: #003f80;
  transform: scale(1);
}

#station-name {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 2rem 0;
}

#result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.result-card {
  width: 100%;
  margin: 0 auto;
  padding: 18px;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.result-station {
  font-size: 22px;
  font-weight: 700;
  color: black;
}

.result-time-display {
  font-size: 18px;
  font-weight: 600;
  color: #666;
}

.result-time {
  font-size: 18px;
  font-weight: bold;
  color: dodgerblue;
}

.result-transport_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.result-transport-mode {
  width: auto;
  height: 24px;
  color: #555;
}

.result-transport-designation {
  background-color: black;
  color: white;
  padding: 3px 8px;
  width: fit-content;
  font-weight: 600;
  border-radius: 4px;
}

.random-button-box {
  display: flex;
}
